<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Becode Flask Python - List</title>
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/styles.css')}}">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Thank you for contacting us!</h1>
    <p>Here is the list of members:</p>
    <div class="parent_c_row">
    {% with messages = get_flashed_messages() %}
            {% for message in messages %}
                <p class="t_left">{{ message }}</p>
            {% endfor %}
        {% endwith %}
        {% for user in users   %}
        <div class="c_row">

            <div class="col-3">
                <form style="margin: 0; padding: 0;" method="post" action="http://127.0.0.1:5000/list/delete">
                      <!-- Link for MongoDB -->
                      <input type="hidden" name="user_id" value="{{ user['_id'] }}">
                      <!-- Link for MySQL -->
<!--                  <input type="hidden" name="user_id" value="{{ user['id'] }}">    -->

                      <button style="display: inline; cursor:pointer;" type="submit">x</button>
                </form>
            </div>
            <!-- Link for MongoDB -->
            <div class="col-3"><a href="http://127.0.0.1:5000/list/{{ user['_id'] }}">{{ user['_id'] }}</a></div>
            <!-- Link for MySQL -->
            <!-- <div class="col-3"><a href="http://127.0.0.1:5000/list/{{ user['id'] }}">{{ user['id'] }}</a></div>-->
            {% if user['gender'] == 1 %}
            <div class="col-3"><p>Mr</p></div>
            {% else %}
            <div class="col-3"><p>Mrs</p></div>
            {% endif %}

            <div class="col-3">{{ user['lastname'] }}</div>
            <div class="col-3">{{ user['firstname'] }}</div>
            <div class="col-3">{{ user['email'] }}</div>


            <div class="col-3">{{ user['message'] }}</div>
            <div class="col-3">{{ user['subjects'] }}</div>

        </div>
        {% endfor %}
            </div>

</div>

</body>
</html>