body, html{
    margin: 0 auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
              height: 100%;
    background: linear-gradient(5deg, #f5f7fa, #c3cfe2);
h1{
    font-weight: 500
}
.parent_c_row{
    margin: auto;
    max-width: 1000px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}
.c_row{
    display: flex !important;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    gap: 3rem;
    align-items: center;
    position: relative;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}
.c_row:first-child{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.t_left{
    text-align: left;
}

.error-container {
  text-align: center;
  max-width: 600px;
}
.error-code {
  font-size: 10rem;
  font-weight: bold;
  color: darkblue;
}
.error-message {
  font-size: 1.5rem;
  margin-bottom: 4rem;
}
.error-description {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.home-button {
  text-transform: uppercase;
  background: darkblue;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s;
}
.home-button:hover {
  background: blue;
  text-decoration: none
}